extends ./layout.pug

block content

  .jumbotron(style={'margin-bottom': 0})
    h1 HN Feed
    h2 We <3 hacker news!

  .list-group
    each item in feed
      a(class='list-group-item' href= item.url) #{item.title}
        //span(class='glyphicons glyphicons-bin' style={float: 'right'})
        //i(class='fas fa-trash-alt')
        span(style={float: 'right'}) trash
        span(style={float: 'right', 'margin-right': '70px'}) #{ prettyDate(item.created_at) }


