extends ./layout.pug

block content

  .jumbotron
    h1 HN Feed
    h2 We <3 hacker news!

  .list-group
    each item in feed
      a(class='list-group-item' href= item.url target="_blanc") #{item.title}
        //span(class='glyphicons glyphicons-bin' style={float: 'right'})
        //i(class='fas fa-trash-alt')

        span(class='trash') trash
        span(class='created-at') #{ prettyDate(item.created_at) }


