extends ./layout.pug

block content

  .jumbotron
    h1 HN Feed
    h2 We <3 hacker news!

  .list-group
    each item in feed
      if !Boolean(item.userHasDeletedItem)

        div(class=['list-group-item', 'list-group-item--changes']) 
          a(class='' href= item.url target="_blanc")= item.title
          span(class='author')= ' - ' + item.author + ' - '
          span(class='created-at')= prettyDate(item.created_at)

          a(href="/delete/" + item._id class='trash') 
            span(class='trash') trash



