.jumbotron {
  margin-bottom: 0;
}

.trash {
  float: right;
}

a.trash {
  display: flex;
  align-items: center;
  font-size: 23px;
}

a.trash:hover { text-decoration: none }

.created-at {
  float: right;
  margin-right: 80px;
  margin-left: auto;
}

.list-group-item--changes a {
  color: #333;
}

.list-group-item--changes {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;

  border: 1px solid #ccc;
  color: #333;
  font-size: 13pt;
}

.list-group-item--changes:hover {
  background: #fafafa;
  cursor: pointer;
}

.list-group-item--changes .author {
  color: #999;
}
