.jumbotron {
  margin-bottom: 0;
}

.trash {
  float: right;
}

.created-at {
  float: right;
  margin-right: 80px;
}

a.list-group-item--changes {
  border: 1px solid #ccc;
  color: #333;
  font-size: 13pt;
}

.list-group-item--changes:hover {
  background: #fafafa;
  cursor: pointer;
}

.list-group-item--changes .author {
  color: #999;
}
